.offcanvas-body {
    background-color: #333;
    ;
}

.slider-label {
    font-size: 3em;
    color: goldenrod;
}

.slider {
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: #111;
    color: goldenrod;
    fill: goldenrod;
}

.slider::-webkit-slider-runnable-track {
    appearance: none;
    color: goldenrod;
    fill: goldenrod;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: goldenrod;
    box-shadow: 0 0 10px goldenrod;
    color: goldenrod;
    fill: goldenrod;
}